input {
  width: 18.75rem;
  height: 2.188rem;
  font-size: 1rem;
  border-radius: 0.938rem;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-image: url("/assets/icons/search.png");
  background-position: 0.5rem center; /* Position des Icons */
  background-repeat: no-repeat; /* Verhindert, dass sich das Bild wiederholt */
  background-size: 1rem 1rem; /* Größe des Icons */
  padding-left: 1.875rem; /* Platz für das Icon im Input */
  border: none;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: none;
  }
}