<div class="three-day-forecast">
    @if (weatherApiService.weatherData) {
        <h5>3-DAY FORECAST</h5>

        <table>
            <tbody>
                <tr data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease-in-out" data-aos-once="true">
                    <td>
                        Today
                    </td>

                    <td class="icon">
                        <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].day.condition.icon }}">
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[0].day.condition.text }}
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[0].day.maxtemp_c | round }}° / {{ weatherApiService.weatherData.forecast.forecastday[0].day.mintemp_c | round }}°
                    </td>
                </tr>

                <tr data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-once="true">
                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[1].date | date:'EEE' }}
                    </td>

                    <td class="icon">
                        <img src="{{ weatherApiService.weatherData.forecast.forecastday[1].day.condition.icon }}">
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[1].day.condition.text }}
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[1].day.maxtemp_c | round }}° / {{ weatherApiService.weatherData.forecast.forecastday[1].day.mintemp_c | round }}°
                    </td>
                </tr>

                <tr data-aos="fade-up" data-aos-duration="2500" data-aos-easing="ease-in-out" data-aos-once="true">
                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[2].date | date:'EEE' }}
                    </td>

                    <td class="icon">
                        <img src="{{ weatherApiService.weatherData.forecast.forecastday[2].day.condition.icon }}">
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[2].day.condition.text }}
                    </td>

                    <td>
                        {{ weatherApiService.weatherData.forecast.forecastday[2].day.maxtemp_c | round }}° / {{ weatherApiService.weatherData.forecast.forecastday[2].day.mintemp_c | round }}°
                    </td>
                </tr>
            </tbody>
        </table>
    } @else {
        <div class="hint">
            <p>The 3-day forecast will be shown here</p>
        </div>
    }
</div>