.three-day-forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
}

.hint {
  height: calc(261.91px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid #bbb;

    &:last-child {
      border-bottom: none;
    }

    td:first-child {
      padding-left: 16px;
    }

    &[data-aos="fade-up"] {
      transform: translateY(30px); /* Startpunkt */
    }

    &[data-aos="fade-up"].aos-animate {
      transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}