<div class="three-day-forecast">
    @if (weatherApiService.weatherData) {
        <h5>3-DAY FORECAST</h5>

        <div class="three-day-forecast-content">
            <div class="single-day-forecast">
                <span>Today</span>

                <div class="icon-and-text">
                    <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].day.condition.icon }}">
                    <p>{{ weatherApiService.weatherData.forecast.forecastday[0].day.condition.text }}</p>
                </div>

                <span class="max-min-temp">
                    {{ weatherApiService.weatherData.forecast.forecastday[0].day.maxtemp_c }}° / {{ weatherApiService.weatherData.forecast.forecastday[0].day.mintemp_c }}°
                </span>
            </div>

            <div class="single-day-forecast">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[1].date | date:'EEE' }}</span>

                <div class="icon-and-text">
                    <img src="{{ weatherApiService.weatherData.forecast.forecastday[1].day.condition.icon }}">
                    <p>{{ weatherApiService.weatherData.forecast.forecastday[1].day.condition.text }}</p>
                </div>

                <span class="max-min-temp">
                    {{ weatherApiService.weatherData.forecast.forecastday[1].day.maxtemp_c }}° / {{ weatherApiService.weatherData.forecast.forecastday[1].day.mintemp_c }}°
                </span>
            </div>

            <div class="single-day-forecast">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[2].date | date:'EEE' }}</span>

                <div class="icon-and-text">
                    <img src="{{ weatherApiService.weatherData.forecast.forecastday[2].day.condition.icon }}">
                    <p>{{ weatherApiService.weatherData.forecast.forecastday[2].day.condition.text }}</p>
                </div>

                <span class="max-min-temp">
                    {{ weatherApiService.weatherData.forecast.forecastday[2].day.maxtemp_c }}° / {{ weatherApiService.weatherData.forecast.forecastday[2].day.mintemp_c }}°
                </span>
            </div>
        </div>
    }
</div>