.three-day-forecast {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.938rem;
  padding: 1.25rem;
}

.hint {
  height: calc(17.094rem - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 0.063rem solid #bbb;

    &:last-child {
      border-bottom: none;
    }

    td:first-child {
      padding-left: 1rem;
      color: #FAF1E6;
    }

    &[data-aos="fade-up"] {
      transform: translateY(1.875rem); /* Startpunkt */
    }

    &[data-aos="fade-up"].aos-animate {
      transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}