.todays-forecast {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.938rem;
  padding: 1.25rem;
}

.forecast-hour {
  display: flex;
  justify-content: space-evenly;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h5 {
    color: #FAF1E6;
  }

  hr {
    border: 0.063rem solid #bbb;

    &[data-aos="fade-up"] {
      transform: translateY(1.875rem);
    }
  
    &[data-aos="fade-up"].aos-animate {
      transform: translateY(0);
    }
  }
}

.hint {
  height: calc(12.114rem - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-forecast {
  span {
    font-size: 1.25rem;
  }

  &[data-aos="fade-up"] {
    transform: translateY(1.875rem);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

@media screen and (max-width: 510px) {
  .forecast-hour {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1.25rem;
  }


  //////////////////////
  // Custom Scrollbar //
  //////////////////////
  /* width */
  ::-webkit-scrollbar {
    // width: 5px;
    height: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}