<div class="todays-forecast">
    @if (weatherApiService.weatherData) {
        <h5>TODAY'S FORECAST</h5>

        <div class="forecast-hour">
            <div>
                <h5>6:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[6].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[6].temp_c | round }}°</span>
            </div>

            <hr>

            <div>
                <h5>9:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[9].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[9].temp_c | round }}°</span>
            </div>

            <hr>
            
            <div>
                <h5>12:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[12].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[12].temp_c | round }}°</span>
            </div>

            <hr>
            
            <div>
                <h5>15:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[15].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[15].temp_c | round }}°</span>
            </div>

            <hr>
            
            <div>
                <h5>18:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[18].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[18].temp_c | round }}°</span>
            </div>

            <hr>
            
            <div>
                <h5>21:00</h5>
                <img src="{{ weatherApiService.weatherData.forecast.forecastday[0].hour[21].condition.icon }}">
                <span>{{ weatherApiService.weatherData.forecast.forecastday[0].hour[21].temp_c | round }}°</span>
            </div>
        </div>
    } @else {
        <div class="hint">
            <p>The today's forecast will be shown here</p>
        </div>
    }
</div>