.todays-forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
}

.forecast-hour {
  display: flex;
  justify-content: space-evenly;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr {
    border: 1px solid #bbb;
  }
}

.hint {
  height: calc(191.91px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-forecast {
  &[data-aos="fade-up"] {
    transform: translateY(30px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}