.todays-forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
}

.forecast-hour {
  display: flex;
  justify-content: space-evenly;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h5 {
    color: #FAF1E6;
  }

  hr {
    border: 1px solid #bbb;

    &[data-aos="fade-up"] {
      transform: translateY(30px);
    }
  
    &[data-aos="fade-up"].aos-animate {
      transform: translateY(0);
    }
  }
}

.hint {
  height: calc(193.83px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-forecast {
  span {
    font-size: 20px;
  }

  &[data-aos="fade-up"] {
    transform: translateY(30px);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}