<div class="current-weather">
    @if (weatherApiService.weatherData) {
        <div class="city-infos">
            <div class="city-region-country">
                <h2>{{ weatherApiService.weatherData.location.name }}</h2>
                <h5>{{ weatherApiService.weatherData.location.region }}, {{ weatherApiService.weatherData.location.country }}</h5>
            </div>

            <h1>{{ weatherApiService.weatherData.current.temp_c }}°</h1>
        </div>

        <img src="{{ weatherApiService.weatherData.current.condition.icon }}">
    } @else {
        <p>Search for a location to see the current weather or click on one of the popular cities to get more informations</p>
    }
</div>