<div class="current-weather">
    @if (weatherApiService.weatherData) {
        <div class="city-infos">
            <div class="city-region-country" data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease-in-out">
                <h2>{{ weatherApiService.weatherData.location.name }}</h2>
                <span>{{ weatherApiService.weatherData.location.region }}, {{ weatherApiService.weatherData.location.country }}</span>
            </div>

            <div class="temp-time">
                <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out">{{ weatherApiService.weatherData.current.temp_c | round }}°</h1>
                <span data-aos="fade-up" data-aos-duration="2250" data-aos-easing="ease-in-out">Local Time: {{ weatherApiService.weatherData.location.localtime.split(' ')[1] }}</span>
            </div>
        </div>

        <img src="{{ weatherApiService.weatherData.current.condition.icon }}" data-aos="fade-up" data-aos-duration="2500" data-aos-easing="ease-in-out">
    } @else {
        <div class="hint">
            <p>Search for a location to see the current weather or click on one of the popular cities to get more informations</p>
        </div>
    }
</div>