.current-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.938rem;
  padding: 1.25rem;
}

.city-infos {
  display: flex;
  flex-direction: column;
  gap: 2.188rem;
}

img {
  height: 8.75rem;
  width: 8.75rem;

  &[data-aos="fade-up"] {
    transform: translateY(1.875rem);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

.hint {
  height: calc(12.375rem - 2.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-region-country {
  span {
    color: antiquewhite;
  }

  &[data-aos="fade-up"] {
    transform: translateY(1.875rem);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

.temp-time {
  display: flex;
  align-items: baseline;
  gap: 1rem;

  span {
    color: #faf1e6;

    &[data-aos="fade-up"] {
      transform: translateY(1.875rem);
    }
  
    &[data-aos="fade-up"].aos-animate {
      transform: translateY(0);
    }
  }
}

h1 {
  font-size: 2.625rem;

  &[data-aos="fade-up"] {
    transform: translateY(1.875rem);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

h2 {
  color: #faf1e6;
}

@media screen and (max-width: 370px) {
  .temp-time {
    align-items: center;
  }
}