.current-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
}

.city-infos {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

img {
  height: 140px;
  width: 140px;

  &[data-aos="fade-up"] {
    transform: translateY(30px);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

.hint {
  height: calc(198px - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-region-country {
  span {
    color: antiquewhite;
  }

  &[data-aos="fade-up"] {
    transform: translateY(30px);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

h1 {
  font-size: 42px;

  &[data-aos="fade-up"] {
    transform: translateY(30px);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

h2 {
  color: #FAF1E6;
}