.current-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
}

.city-infos {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

img {
  height: 140px;
  width: 140px;

  &[data-aos="fade-up"] {
    transform: translateY(30px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}

.hint {
  height: calc(189px - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-region-country {
  &[data-aos="fade-up"] {
    transform: translateY(30px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}

h2 {
  font-size: 28px;

  &[data-aos="fade-up"] {
    transform: translateY(30px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}