.air-conditions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.infos {
  display: flex;
  justify-content: space-evenly;

  img {
    height: 30px;
    width: 30px;
  }
}

.left-content,
.right-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  
  &[data-aos="fade-up"] {
    transform: translateY(30px);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

.single-info-container {
  display: flex;
  gap: 10px;
}

.span-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    &:first-child {
      color: #FAF1E6;
    }
    
    &:last-child {
      font-size: 20px;
    }
  }
}

.hint {
  height: calc(217.91px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}