.air-conditions {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.938rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.infos {
  display: flex;
  justify-content: space-evenly;

  img {
    height: 1.875rem;
    width: 1.875rem;
  }
}

.left-content,
.right-content {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  
  &[data-aos="fade-up"] {
    transform: translateY(1.875rem);
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
  }
}

.single-info-container {
  display: flex;
  gap: 0.625rem;
}

.span-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;

  span {
    &:first-child {
      color: #FAF1E6;
    }
    
    &:last-child {
      font-size: 1.25rem;
    }
  }
}

.hint {
  height: calc(13.619rem - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .air-conditions {
    margin-bottom: 0;
  }
}