.air-conditions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}

.infos {
  display: flex;
  justify-content: space-evenly;

  img {
    height: 30px;
    width: 30px;
  }
}

.left-content,
.right-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  
  &[data-aos="fade-up"] {
    transform: translateY(30px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}

.single-info-container {
  display: flex;
  gap: 10px;
}

.span-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hint {
  height: calc(205.91px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}