.popular-cities {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid #bbb;
    transition: ease-in-out 250ms;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      transition: ease-in-out 250ms;
    }

    td:first-child {
      padding-left: 16px;
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


// top-left and top-right border-radius of the table
tr:first-child {
  td {
    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }
  }
}

// bottom-left and bottom-right border-radius of the table
tr:last-child {
  td {
    &:first-child {
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}