<div class="popular-cities">
    <h5>POPULAR CITIES</h5>

    <table>
        <tbody>
            @for (data of weatherData; track data) {
            <tr (click)="showWeatherDataOfPopularCity(data.city)">
                <td>
                    {{ data.city }}
                </td>

                <td class="icon">
                    <img [src]="'http:' + data.icon">
                </td>

                <td>
                    {{ data.condition }}
                </td>

                <td>
                    {{ data.maxTemp | round }}° / {{ data.minTemp | round }}°
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>