:host {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  height: calc(100% - 7.5rem);
  border-left: solid 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

main {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media screen and (min-width: 1920px) {
  :host {
    border-left: none;
  }
}

@media screen and (max-width: 950px) {
  :host {
    flex-direction: column;
    border-left: none;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}