<div class="imprint" data-aos="fade-up" data-aos-duration="750" data-aos-easing="ease-in-out">
    <a routerLink="" routerLinkActive="active">
        <img src="assets/icons/back.png">
    </a>

    <h1>Imprint</h1>
    <br>
    <br>

    <h2>Information according to § 5 TMG:</h2>
    <p>
        Davide Religioso<br>
        Frontend Developer
    </p>
    <br>

    <h3>Postal address</h3>
    <p>
        Paprikastraße 58<br>
        70619 Stuttgart
    </p>
    <br>

    <h3>Contact</h3>
    <p>
        Phone number: 0160 2043995<br>
        E-mail address: mail&#64;davide-religioso.com
    </p>
    <br>
    <br>

    <h2>Information according to § 36 VSBG</h2>
    <p>In accordance with § 36 VSBG (Consumer Dispute Resolution Act - Act on Alternative Dispute Resolution in Consumer Matters), the operator of this website declares:</p>
    <br>
    <p><b>We are neither willing nor obliged to participate in dispute resolution proceedings before a consumer arbitration board.</b></p>
    <br>
    <br>

    <p><em>The imprint was created with the <a href="https://www.activemind.de/datenschutz/generatoren/impressum/">imprint generator</a> of activeMind AG.</em></p>
</div>