.imprint {
  height: calc(100% - 120px);
  display: block;
  overflow-y: auto;
  padding: 20px;

  &[data-aos="fade-up"] {
    transform: translateY(10px); /* Startpunkt */
  }

  &[data-aos="fade-up"].aos-animate {
    transform: translateY(0); /* Endpunkt (d.h. Bewegung nach oben) */
  }
}