@use "./fonts.scss" as *;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  font-size: 100%; /* Ensures that 1rem = 16px */
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
  font-family: "Roboto"; /* My preferred default font */
  line-height: 1.5; /* Better readability */
  background-color: #4395e0;
  background-image: url("./assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-root {
  height: 60%;
  width: 85%;
  border-radius: 0.938rem;
  backdrop-filter: blur(10px);
}


//////////////////////
// Custom Scrollbar //
//////////////////////
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1920px) {
  app-root {
    height: 90%;
  }
}

@media screen and (max-width: 1260px) {
  app-root {
    width: 90%;
  }

  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  body {
    height: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 13px;
  }
}